<% @page_title = "編集"%>

<h1><%= @page_title %></h1>


<%= form_for @post do |form| %>   <%# newアクションで作ったモデルオブジェクトを渡す @post = Post.find_by(id: params[:id]) %>
    <div class="field">
    <%= form.label :category_id, "category"  %>
    <%= form.text_field :category_id %>
    </div>
    <%#<div class="field">
    <%= form.label :title, "title"  %>
    <%#<%= form.text_area :title,cols: 30, rows: 3 %>
    <%#</div>  %>
    <%#<div class="field">
    <%= form.label :content, "content"  %>
    <%#<%= form.text_area :content,cols: 0, rows: 3 %>        
    <%#</div>  %>
    <div class="field">
    <%= form.label :news%>
    <%= form.rich_text_area :news %>
    </div>
    <div class="action">
    <%= form.submit %>
    </div>

<% end %>