<%# <i class="fas fa-globe"></i> %>
<div class=" fas fa-globe head-laungage fa-2x">
    <select name="example1">
    <option value="英語"><%= link_to "English" ,"/en/posts"%> </option>
    <option value="簡体字"><%= link_to "简体中文" ,"/cn/posts"%>
    <option value="繁体字"><%= link_to "繁體中文" ,"/tw/posts"%>
    <option value="スペイン語"><%= link_to "Español" ,"/es/posts"%></option>
    <option value="ヒンディー語"><%= link_to "हिन्दी" ,"/hi/posts"%></option>
    <option value="アラビア語"><%= link_to "عربي" ,"/ar/posts"%> </option>
    <option value="ベンガル語"><%= link_to "বাঙালি" ,"/bn/posts"%></option>
    <option value="ロシア語"><%= link_to "русский" ,"/ru/posts"%></option>
    <option value="ポルトガル語"><%= link_to "Português" ,"/pt/posts"%></option>
    <option value="日本語"><%= link_to "日本語" ,"/ja/posts"%></option>
    <option value="フランス語"><%= link_to "Le français" ,"/fr/posts"%>
    <option value="マレー語"><%= link_to "Bahasa Melayu" ,"/ms/posts"%></option>
    <option value="ドイツ語"><%= link_to "Deutsch" ,"/de/posts"%> </option>
    <option value="パンジャーブ語"><%= link_to "ਪੰਜਾਬੀ" ,"/pa/posts"%></option>
    <option value="ジャワ語"><%= link_to "Basa Jawa" ,"/jv/posts"%></option>
    <option value="韓国語"><%= link_to "한국" ,"/ko/posts"%></option>
    <option value="タミル語"><%= link_to "தமிழ்" ,"/ta/posts"%></option>
    <option value="ベトナム語"><%= link_to "Tiếng việt" ,"/vi/posts"%> </option>
    <option value="テルグ語"><%= link_to "తెలుగు" ,"/te/posts"%></option>
    <option value="マラーティー語"><%= link_to "मराठी" ,"/mr/posts"%></option>
    <option value="ウルドゥー語"><%= link_to "اردو" ,"/ur/posts"%></option>
    <option value="オランダ語"><%= link_to "Nederlands" ,"/nl/posts"%></option>
    <option value="イタリア語"><%= link_to "italiano" ,"/it/posts"%></option>
    <option value="トルコ語"><%= link_to "Türk" ,"/tr/posts"%> </option>
    <option value="ポーランド語"><%= link_to "Polski" ,"/pl/posts"%></option>
    <option value="クジャラート語"><%= link_to "કુજારત" ,"/gu/posts"%></option>
    <option value="ペルシア語"><%= link_to "فارسی" ,"/fa/posts"%></option>
    <option value="タイ語"><%= link_to "ภาษาไทย" ,"/th/posts"%></option>
    <option value="ウクライナ語"><%= link_to "Українська" ,"/uk/posts"%> </option>
    <option value="マラヤーラム語"><%= link_to "മലയാളം" ,"/ml/posts"%></option>
    <option value="カンナダ語"><%= link_to "ಕನ್ನಡ" ,"/kn/posts"%></option>
    <option value="アゼルバイジャン語"><%= link_to "Azərbaycan" ,"/az/posts"%></option>
    <option value="インドネシア語"><%= link_to "Orang indonesia" ,"/id/posts"%></option>
    <option value="オリヤー語"><%= link_to "ଓଡିଆ" ,"/or/posts"%> </option>
    <option value="ビルマ語"><%= link_to " မြန်မာဘာသာစကား" ,"/my/posts"%></option>
    <option value="ギリシャ語"><%= link_to "Ελληνικά" ,"/el/posts"%></option>
    <option value="バスク語"><%= link_to "Euskal" ,"/eu/posts"%></option>
    <option value="アムハラ語"><%= link_to "አማርኛ" ,"/am/posts"%></option>
    <option value="スワヒリ語"><%= link_to "Kiswahili" ,"/sw/posts"%></option>
    <option value="スウェーデン語"><%= link_to "Svenska" ,"/sv/posts"%></option>
    <option value="デンマーク語"><%= link_to "dansk" ,"/da/posts"%></option>
    <option value="ノルウェー語"><%= link_to "norsk" ,"/no/posts"%></option>
    <option value="フィンランド語"><%= link_to "suomalainen" ,"/fi/posts"%></option>

    </select>
</div>
<div class="logo">
    <a href="/" style="font-size:13pt;font-weight:bold;">BluePrint Anima</a>
</div>

