

<%= javascript_include_tag "laungages.js" %>


<div class=" fas fa-globe head-laungage fa-lg laungages-menu">
    <div class="l-menu">
        <% if locale == :ja %>日本語
        <%elsif locale == :en %>English
        <%elsif locale == :cn %>简体中文
        <%elsif locale == :tw %>繁體中文
        <%elsif locale == :es %>Español
        <%elsif locale == :hi %>हिन्दी
        <%elsif locale == :ar %>عربي
        <%elsif locale == :bn %>বাঙালি
        <%elsif locale == :ru %>русский
        <%elsif locale == :pt %>Português
        <%elsif locale == :fr %>Le français
        <%elsif locale == :ms %>Bahasa Melayu
        <%elsif locale == :de %>Deutsch
        <%elsif locale == :pa %>ਪੰਜਾਬੀ
        <%elsif locale == :jv %>Basa Jawa
        <%elsif locale == :ko %>한국
        <%elsif locale == :ta %>தமிழ்
        <%elsif locale == :vi %>Tiếng việt
        <%elsif locale == :te %>తెలుగు
        <%elsif locale == :mr %>मराठी
        <%elsif locale == :ur %>اردو
        <%elsif locale == :nl %>Nederlands
        <%elsif locale == :it %>italiano
        <%elsif locale == :tr %>Türk
        <%elsif locale == :pl %>Polski
        <%elsif locale == :gu %>કુજારત
        <%elsif locale == :fa %>فارسی
        <%elsif locale == :th %>ภาษาไทย
        <%elsif locale == :uk %>Українська
        <%elsif locale == :ml %>മലയാളം
        <%elsif locale == :kn %>ಕನ್ನಡ
        <%elsif locale == :az %>Azərbaycan
        <%elsif locale == :id %>Orang indonesia
        <%elsif locale == :or %>ଓଡିଆ
        <%elsif locale == :my %>မြန်မာဘာသာစကား
        <%elsif locale == :el %>ελληνική γλώσσα
        <%elsif locale == :am %>አማርኛ
        <%elsif locale == :sw %>Kiswahili
        <%elsif locale == :sv %>Svenska
        <%elsif locale == :da %>dansk
        <%elsif locale == :no %>norsk
        <%elsif locale == :fi %>suomalainen
        <%else%>English 
        <%end%>
        <span><i class="fas fa-angle-down"></i></span>
        
    </div>

    <div class="laungage-menu">
    <div class="laungage-flex">
        <p><%= link_to "English" ,"/en/posts"%></p>
        <p><%= link_to "简体中文" ,"/cn/posts"%></p>
        <p><%= link_to "繁體中文" ,"/tw/posts"%></p>
        <p><%= link_to "Español" ,"/es/posts"%></p>
        <p><%= link_to "हिन्दी" ,"/hi/posts"%></p>
        <p><%= link_to "عربي" ,"/ar/posts"%></p>
        <p><%= link_to "বাঙালি" ,"/bn/posts"%></p>
        <p><%= link_to "русский" ,"/ru/posts"%></p>
        <p><%= link_to "Português" ,"/pt/posts"%></p>
        <p><%= link_to "日本語" ,"/ja/posts"%></p>
        <p><%= link_to "Le français" ,"/fr/posts"%></p>
        <p><%= link_to "Bahasa Melayu" ,"/ms/posts"%></p>
        <p><%= link_to "Deutsch" ,"/de/posts"%></p>
        <p><%= link_to "ਪੰਜਾਬੀ" ,"/pa/posts"%></p>
        <p><%= link_to "Basa Jawa" ,"/jv/posts"%></p>
        <p><%= link_to "한국" ,"/ko/posts"%></p>
        <p><%= link_to "தமிழ்" ,"/ta/posts"%></p>
        <p><%= link_to "Tiếng việt" ,"/vi/posts"%></p>
        <p><%= link_to "తెలుగు" ,"/te/posts"%></p>
        <p><%= link_to "मराठी" ,"/mr/posts"%></p>
        <p><%= link_to "اردو" ,"/ur/posts"%></p>
        <p><%= link_to "Nederlands" ,"/nl/posts"%></p>
        <p><%= link_to "italiano" ,"/it/posts"%></p>
        <p><%= link_to "Türk" ,"/tr/posts"%></p>
        <p><%= link_to "Polski" ,"/pl/posts"%></p>
        <p><%= link_to "કુજારત" ,"/gu/posts"%></p>
        <p><%= link_to "فارسی" ,"/fa/posts"%></p>
        <p><%= link_to "ภาษาไทย" ,"/th/posts"%></p>
        <p><%= link_to "Українська" ,"/uk/posts"%></p>
        <p><%= link_to "മലയാളം" ,"/ml/posts"%></p>
        <p><%= link_to "ಕನ್ನಡ" ,"/kn/posts"%></p>
        <p><%= link_to "Azərbaycan" ,"/az/posts"%></p>
        <p><%= link_to "Orang indonesia" ,"/id/posts"%></p>
        <p><%= link_to "ଓଡିଆ" ,"/or/posts"%></p>
        <p><%= link_to " မြန်မာဘာသာစကား" ,"/my/posts"%></p>
        <p><%= link_to "ελληνική γλώσσα" ,"/el/posts"%></p>
        <p><%= link_to "Euskal" ,"/eu/posts"%></p>
        <p><%= link_to "አማርኛ" ,"/am/posts"%></p>
        <p><%= link_to "Kiswahili" ,"/sw/posts"%></p>
        <p><%= link_to "Svenska" ,"/sv/posts"%></p>
        <p><%= link_to "dansk" ,"/da/posts"%></p>
        <p><%= link_to "norsk" ,"/no/posts"%></p>
        <p><%= link_to "suomalainen" ,"/fi/posts"%></p>
    </div>
    
    </div>
</div>




<div class="logo">
        <a href="/ja/posts"><h1>Volvord<%= image_tag("logologo.png") %> news</h1></a>

        <%# <div class="header-menu">
            <div id="nav-drawer">
                <input id="nav-input" type="checkbox" class="nav-unshown">
                <label id="nav-open" for="nav-input"><span></span></label>
                <label class="nav-unshown" id="nav-close" for="nav-input"></label>
            <div id="nav-content">
                <p>12</p>
                <p>12</p>
                <p>12</p>
                <p>12</p>
                <p>12</p>
            </div>
        </div> %>
</div>

<div class="header-menu">
            <div id="nav-drawer">
                <input id="nav-input" type="checkbox" class="nav-unshown">
                <label id="nav-open" for="nav-input"><span></span></label>
                <label class="nav-unshown" id="nav-close" for="nav-input"></label>
            <div id="nav-content">
            　　<p class="coming-soon"><%= link_to "新聞comingsoon", "/ar/mexicanos" %></p>
                <p><%= link_to "要人", "/ar/mexicanos" %></p>
                <p><%= link_to "各国データ", "/ar/mexicanos" %></p>
                <p><%= link_to "政府機関", "/ar/mexicanos" %></p>
                <p><%= link_to "政治制度", "/ar/mexicanos" %></p>
                <p><%= link_to "業界地図", "/ar/mexicanos" %></p>
                <p><%= link_to "各", "/ar/mexicanos" %></p>
                <p><%= link_to "用語", "/ar/mexicanos" %></p>
                
            </div>
</div>

