
<div class="menubar">
    <div class= f-menu>

<% if locale == :ja %>
        <div class="navli nav-top"><div class="opacity"><%= link_to "TOP", :posts %></div></div>
        <div class="navli nav-japan"><div class="opacity"><%= link_to "日本", "/japan" %></div></div>
        <div class="navli nav-america"><div class="opacity"><%= link_to "アメリカ",  "/america"%></div></div>
        <div class="navli nav-uk"><div class="opacity"><%= link_to "イギリス", "/uk"%></div></div>
        <div class="navli nav-china"><div class="opacity"><%= link_to "中国", "/china" %></div></div>
        <div class="navli nav-russian"><div class="opacity"><%= link_to "ロシア", "/russian" %></div></div>
        <div class="navli nav-iran"><div class="opacity"><%= link_to "イラン", "/iran" %></div></div>
        <div class="navli nav-brasil"><div class="opacity"><%= link_to "ブラジル", "/brasil" %></div></div>
        <div class="navli nav-germany"><div class="opacity"><%= link_to "ドイツ", "/germany" %></div></div>
        <div class="navli nav-india"><div class="opacity"><%= link_to "インド", "/india" %></div></div>
        <div class="navli nav-france"><div class="opacity"><%= link_to "フランス", "/france" %></div></div>
        <div class="navli nav-canada"><div class="opacity"><%= link_to "カナダ", "/canada" %></div></div>
        <div class="navli nav-top"><div class="opacity"><%= link_to "TOP", :posts %></div></div>
<%else%>
        <div class="navli nav-top"><div class="opacity"><%= link_to "TOP", :posts %></div></div>
        <div class="navli nav-japan"><div class="opacity"><%= link_to "Japan", "/japan" %></div></div>
        <div class="navli nav-america"><div class="opacity"><%= link_to "America",  "/america"%></div></div>
        <div class="navli nav-uk"><div class="opacity"><%= link_to "UK", "/uk"%></div></div>
        <div class="navli nav-china"><div class="opacity"><%= link_to "China", "/china" %></div></div>
        <div class="navli nav-russian"><div class="opacity"><%= link_to "Russian", "/russian" %></div></div>
        <div class="navli nav-iran"><div class="opacity"><%= link_to "Iran", "/iran" %></div></div>
        <div class="navli nav-brasil"><div class="opacity"><%= link_to "Brasil", "/brasil" %></div></div>
        <div class="navli nav-germany"><div class="opacity"><%= link_to "Germany", "/germany" %></div></div>
        <div class="navli nav-india"><div class="opacity"><%= link_to "India", "/india" %></div></div>
        <div class="navli nav-france"><div class="opacity"><%= link_to "France", "/france" %></div></div>
        <div class="navli nav-canada"><div class="opacity"><%= link_to "Canada", "/canada" %></div></div>
        <div class="navli nav-top"><div class="opacity"><%= link_to "TOP", :posts %></div></div>
<%end%>
    </div>
</div>

