


<%#<% @page = Wikipedia.find('https://en.wikipedia.org/wiki/House_of_Representatives_(Japan)') %>
<%#<div id="sample">javascript</div> %>
<%#<div id="sample"><%= @page.title %><%#</div> 
<%#<div id="sample"><%= @page.summary %><%#</div>%>

<script>
$(function() {
    
    $(".trix-content a").hover(function(){
        var url = $(this).attr('href');
        $(.wikiarea).show();
        page = Wikipedia.find(url) 
         page.title
         page.summary
         alert(@page.title);
        // alert(url);
    },function(){
        $(this).css("color", "blue");
    
    });
});
</script>


<div class ="f-container">
    <% @posts.each do |post|%>
        <div class= f-item>
            <%#  <%= post.image_name %>
            <%#<%= post.category_id %>
            <div class="post-title"><%= post.country %></div>
            <%# <div class="post-content"><%= post.content %><%#</div>%> 
            <div class="post-time"><%= post.created_at.strftime('%Y/%m/%d') %></div>
            <a href="https://twiter.com/share?url=https://webdesign-trends.net/entry/3632"><i class="fab fa-twitter-square fa-lg my-small"></i></a>
            <a href="http://www.facebook.com/share.php?u={URL}" rel="nofollow" target="_blank"><i class="fab fa-facebook-square fa-lg my-small"></i></a>
            <div class="post-news"><%= post.news %></div>
            <span class="wikiarea"></span>
        </div>
    
    <% end %>
    <%= paginate @posts%>
</div>

